/*================================================
--> Element Background
==================================================*/
.bg-gradient-navy {
	background-image: -moz-linear-gradient( 0deg, rgb(10,35,59) 0%, rgb(26,53,80) 50%, rgb(10,35,59) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(10,35,59) 0%, rgb(26,53,80) 50%, rgb(10,35,59) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(10,35,59) 0%, rgb(26,53,80) 50%, rgb(10,35,59) 100%);
	background-image: linear-gradient( 0deg, rgb(10,35,59) 0%, rgb(26,53,80) 50%, rgb(10,35,59) 100%);
}

.h300 {
	position: relative;
	height: 300px;
}
.bg-gray-lineargradient {
	background-repeat: repeat-x;
	background-image: linear-gradient(180deg, #fff, #dbdbdb);
}
.bg-green-lineargradient {
	background: #00C9FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #0cc652, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #0cc652, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: repeat-x;
}
.bg-blue-lineargradient {
	background: #00C9FF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #00C9FF, #92FE9D);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #00C9FF, #92FE9D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: repeat-x;
}
.bg-green-gradient {
	background-image: linear-gradient(to bottom, rgba(51, 152, 220, 0.5) 0%, rgba(114, 192, 44, 0.8) 100%);
	background-repeat: repeat-x;
}
.bg-black-gradient-opacity {
	background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%);
	background-repeat: repeat-x;
}

// Image Background
.bg-image-holder, .bg-image {
	background-size: cover !important;
	background-position: 50% 0 !important;
	@include transition(all 0.3s linear);
	background: $sand;
	position: relative;
}
.bg-image {
	&:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background-color: rgba(0,0,0, 0.70);
	}
}
.bg-fixed {
	background-attachment: fixed;
}
.bg-image {
	.overlay-content {
		position: relative;
		z-index: 5;
	}
}
.bg-video {
	position: relative;
	height: 400px;
	video { 
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
	    width: auto;
	    height: auto;
	    z-index: -100;
	    transform: translateX(-50%) translateY(-50%);
	 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
	  background-size: cover;
	  transition: 1s opacity;
	}
}